* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: mediumslateblue;
   color: whitesmoke;
   font-family: 'Rubik Wet Paint', cursive;
   max-height: 100%;
   max-width: 100%;
}

header {
   font-size: 1.5rem;
}

.to-do-form {
   display: flex;
   align-items: center;
   min-width: fit-content;
   max-width: 100%;
   flex-wrap: wrap;
}

header,
form {
   min-height: 20vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

form input,
form button {
   padding: 0.5rem;
   padding-left: 1rem;
   font-size: 1.8rem;
   background: whitesmoke;
   border-radius: 2rem;
   border-color: transparent;
   font-family: 'Rubik Wet Paint', cursive;

}
input:focus-visible {
   /* outline-offset: 0px; */
   outline-color: transparent;
}
form button {
   color: rgb(255, 200, 0);
   background: transparent;
   border-color: transparent;
   cursor: pointer;
   transition: all 0.3 ease;
   margin-left: 0.2rem;
}

form button:hover {
   color: whitesmoke;
   background: rgb(255, 200, 0);
   width: fit-content;
}

.fa-solid.fa-circle-plus.fa-lg {
   margin-top: 0.3rem;
   margin-left: -8px;
   font: size 3px;
}

.todo-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.todo-list-items {
   min-width: 30%;
   list-style: none;
}
.each-todo {
   margin: 0.5rem;
   padding-left: 0.5rem;
   background: rgb(255, 255, 255);
   color: rgba(0, 0, 0, 0.266);
   font-size: 1.5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   transition: 0.5s;
   /* border-radius: 2rem; */
   border-top-left-radius: 2rem;
   border-bottom-left-radius: 2rem;
}
.text-item {
   flex: 1;
   color:black
}

.delete-todo {
   /* border-top-right-radius: 1.75rem;
   border-bottom-right-radius: 1.75rem; */
   font-size: 2.2rem;
   background: rgb(255, 255, 255);
   border-color: transparent;
}

.delete-todo i{
   color:rgb(255, 200, 0)
}

.delete-todo:hover {
   color: rgb(255, 200, 0);
   background-color: mediumslateblue;
   cursor: pointer;

}

